.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Avenir', 'Helvetica', sans-serif;
    padding: 1em;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
}

.bio > * + * {
    margin-top: 1em;
}

.bio .heading {
    font-size: 1.2em;
    font-weight: bold;
    color: #666;
}

.bio button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.bio img {
    border-radius: 8px;
    display: block;
    max-width: 100%;
}

